body {
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

/* EN TÊTE */
body header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

body > header > img {
    width: 300px;
    height: 50px;
    margin: auto;
}

/* BARRE DE RECHERCHE */
form {
    background-color: #eaeaea;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

form i {
    margin-right: 5px;
}

input {
    margin-left: 5px;
    border: none;
    background-color: transparent;
}

/* HEADER MAIN + BOUTON EXPLORER */
body > main > header {
    background-color: #f6f6f6;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

body > main > header > a {
    padding: 10px;
    border-radius: 20px;
    background: -moz-linear-gradient(#ff79DA, #9356DC);
    color: #fff;
    text-decoration: none;
}

/* LISTE DE PUCE ET FONCTIONNEMENT */

.fonctionnement ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fonctionnement li {
    margin: 20px;
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
    list-style-type: none;
    background-color: #f6f6f6;
}

.fonctionnement span {
    margin: 0 5px 0 0;
    padding: 2px 7px 2px 7px;
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    background-color: #9356DC;
    color: #fff;
}

.fonctionnement i {
    margin: 0 5px 0 5px;
    color : #7e7e7e;
}

/* CARD RESTAURANT */

#restaurants figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

#restaurants img {
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}