body > header > img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
    text-align: center;
}

body > header {
    background-color: #FFF;
    width: 1440px;
    height: 80px;
    text-align: center;
}

.maps {
    background-color: #eaeaea;
    text-align: center;
}